* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.blue{
    background-color: #0c325a;
}

nav {
    height: 70px;
    background-color: #0c325a;
}

nav img {
    padding-top: 16px;
    padding-bottom: 16px;
    display: inline-block;
    float: left;
}

nav li {
    display: inline-block;
    text-transform: uppercase;
    line-height: 80px;
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

nav ul.left {
    margin-left: 20px;
    float: left;
}

nav ul.right {
    float: right;
}

button{
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

.green {
    background-color: #7cbb02;
}

button.green:hover{
    background-color: #7fb802;
}

.transparent {
    background-color: transparent;
    border: 1px solid white;
}

nav button {
    font-size: 14px;
}

h1 {
    color: white;
    margin-bottom: 30px;
}

.banner {
    position: relative;
    height: 330px;
}

.text-banner {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 5
}

.big-button {
    padding: 17px 15px;
}

.blue .banner img {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 295px;
    z-index: 4;
}

.img-banner {
    width: 50%;
    float: right;
}

.text {
    text-align: center;
    width: 60%;
    padding: 40px 0;
    margin: 0 auto;
}

.text h3 {
    margin-bottom: 10px;
}

.grey {
    color: #808080;
}

.grigio{
    background-color: #d3d3d3;
}

.bianco{
    background-color: white;
}

.box {
    width: 33.3333%;
    border: 1px solid white;
    float: left;
    text-align: center;
}

.box img {
    height: 190px;
}

hr {
    width: 98%;
    margin: 0 auto;
}

.box hr {
    width: 20%;
    margin: 0 auto;
}

.slide-container{
    padding: 30px;
}

.slide-container div {
    margin: 20px 0;
}

.green-text {
    color: #7cbb02;

}

.bottom-box {
    width: 50%;
    float: left;
}

.slide-container.right {
    margin-right: 95px;
    margin-top: 40px;
}

.slide-container.right a {
    color: #5586bc;
}

.footer-title {
    font-size: 24px;
    margin: 49px 0;
    float: left;
}

footer .green {
    float: right;
    margin: 40px 0;
}



.help {
    position:fixed;
    bottom: 0;
    right: 10%;
    border-radius: 5px 5px 0 0;
}
